
secti on {
    border: 1px solid #777;
} 

.row {
    height: 200px
}

.row-1 {
    margin-top: 50px;
}

.wide {
    margin-bottom: 75px;
}
body {
    width: 900px;
	box-sizing: border-box;
    margin: auto;
    background: url("../images/deathstar_disk.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#theforce {
	text-align: center;
    font-size: 20pt;
    font-family: 'Russo One', sans-serif;
    margin-top:
}

.navbar-brand {
    font-size: 20pt;
    font-family: 'Russo One', sans-serif;
}

#resetbtn {
    margin-top: 7px;
    border-radius: 7px;
    background-color: azure;
    height: 35px;
    float: right;
    margin-right: 20px;
}

.charactername {
    position:  absolute;
    left: 1px;
    top: 66px;
    width: 113px;
    text-align: center;
    background-color: brown;
    color: white;
}

.playerstats {
    position:  absolute;
    left: 0px;
    top: -15px;
    width: 115px;
    text-align: center;
    font-size: 14pt;
    opacity: 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b99df+20,7fb8e7+50,5b99df+80&0+0,0.8+15,1+19,1+81,0.8+85,0+100 */
    background: -moz-linear-gradient(left, rgba(91,153,223,0) 0%, rgba(91,153,223,0.8) 15%, rgba(91,153,223,1) 19%, rgba(91,153,223,1) 20%, rgba(127,184,231,1) 50%, rgba(91,153,223,1) 80%, rgba(91,153,223,1) 81%, rgba(91,153,223,0.8) 85%, rgba(91,153,223,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(91,153,223,0) 0%,rgba(91,153,223,0.8) 15%,rgba(91,153,223,1) 19%,rgba(91,153,223,1) 20%,rgba(127,184,231,1) 50%,rgba(91,153,223,1) 80%,rgba(91,153,223,1) 81%,rgba(91,153,223,0.8) 85%,rgba(91,153,223,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(91,153,223,0) 0%,rgba(91,153,223,0.8) 15%,rgba(91,153,223,1) 19%,rgba(91,153,223,1) 20%,rgba(127,184,231,1) 50%,rgba(91,153,223,1) 80%,rgba(91,153,223,1) 81%,rgba(91,153,223,0.8) 85%,rgba(91,153,223,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005b99df', endColorstr='#005b99df',GradientType=1 ); /* IE6-9 */


}

#chooser .character .playerstats:hover {
    opacity: .75;
}
.character {
    position: relative;  /* makes positioning the charactername possible */
}

.character img {
    height: 115px;
    width: 115px;
    padding: 1px;
}

#chooser {
    height: 170px;
    padding-top: 5px;
    width: 70%;
}

section {
    height: 190px;
    width: 100%;
    position: relative;
}
/*
#section1 {
    margin: 30px;
    margin-top: 60px;
}
*/

#messagearea {
    background-color: azure;
    opacity: .5;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 100%;
    text-align: center;
    border: 2px solid black;
    height: 300px;
    width: 360px;
    text-align: center;
    font-size: 14pt;
    font-family: 'Russo One', sans-serif;
    border-radius: 10px;
}

#messagearea p,
#messagearea h1,
#messagearea h2 {
    text-align: left;
    opacity: 1;
    z-index: 10;

}

#messagearea h2 {
    text-align: center;
}

#scoreboard img{
    position: fixed;
    height: 110px;
    width: 200px;
    top: 130px;
    left: 700px
}

.h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 16pt;
}

.stats {
    position: relative;
    left: 150px;
    top: -110px;
    opacity: 0;
    font-size: 18px;
    font-weight: 700;
}


